.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 65px auto;
    &__icon {
      display: inline-block;
      width: 35px;
      height: 37px;
      margin-right: 36px;
      background: url("../img/logo-footer.svg") no-repeat 50% 50%;
      background-size: contain;
    }
    &__link {
      text-decoration: none;
      color:$c-dark-gray;
    }
}
