.box {
  position: relative;
  max-width: 902px;
  margin: 0 auto;
  padding: 75px 173px 25px;
  border: 2px solid $c-dark-gray;
  border-top: 0;
  text-align: center;

  &--light {
    color: $c-white;
    border-color: $c-white;
  }

  &__title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 34px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    font-weight: bold;
    transform: translateY(-50%);

    &::after,
    &::before {
      content: "";
      display: block;
      width: 25%;
      height: 2px;
      background: $c-dark-gray;
    }

    &::before {
      margin-left: -2px;
    }

    &::after {
      margin-right: -2px;
    }
  }

  &--light &__title {
    &:after,
    &:before {
      color: $c-white;
      background: $c-white;
    }
  }
}
